<div class="container px-5 px-sm-0">
  <div class="row">
  <%= render 'users/list', user: @user, book: @book %>
  
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <toble class="table">
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag @bookid.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
            <%= link_to @user.name, user_path(@bookid.user) %>
          </td>
          <td>
            <%= link_to @bookid.title, book_path(@bookid) %>
          </td>
          <td>
            <%= @bookid.body %>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(@bookid), class:"btn btn-sm btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@bookid), method: :delete, class="btn btn-sm btn-danger",data: { confirm: '本当に消しますか?' } %>
          </td>
        </tr>
      </tbody>
    </toble>
  </div>
  
  </div>
</div>